@import "tailwindcss";

@theme {
  --color-brand: #2563eb; /* Blue 600 */
  --color-brand-light: #dbeafe; /* Blue 100 */
  --color-brand-dark: #1e40af; /* Blue 800 */
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #f8fafc; /* Slate 50 */
  color: #1e293b; /* Slate 800 */
}
